.validation-form {
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
}
.carousel {
  border-radius: 5px;
  overflow: hidden;
}

.carousel-caption {
  color: white;
  background-color: #567895;
  font-family: cinzel;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='DDE5EA ' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='DDE5EA ' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.loading-icon{
  width: 35px;
  margin-left: 3px;
  margin-top: -6px;
}