<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <img src="./assets/img/book.png" width="4%">
        <h1 class="navbar-brand mx-3 logo">Biblionotas</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-3">
                <div *ngIf="identificado; then siIdentificado"></div>
                <ng-template #siIdentificado>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLinkActive="activo" [routerLink]="['/fichas']">Mis fichas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLinkActive="activo" [routerLink]="['/crear-ficha']">Crear ficha</a>
                    </li>
                </ng-template>
            </ul>
            <ul class="navbar-nav">
                <div *ngIf="!identificado; then noIdentificado; else cerrarSesion"></div>
                <ng-template #noIdentificado>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLinkActive="activo" [routerLink]="['/ingresar']">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLinkActive="activo" [routerLink]="['/crear-usuario']">Registrarse</a>
                    </li>
                </ng-template>
                <ng-template #cerrarSesion>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" (click)="logOut()" [routerLink]="['/ingresar']">Cerrar
                            sesión</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>
<router-outlet>